@model IEnumerable<ModeleDB.Models.ModeleModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Main Page</h1>

<p>
    <a class="btn btn-outline-success btn-lg" asp-action="Add">Add new scale model to database</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-dark" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Options</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item " asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a class="dropdown-item " asp-action="Remove" asp-route-id="@item.ID">Remove</a> 
                </div>
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Remove" asp-route-id="@item.ID">Usuń</a> |               
            </td>*@
        </tr>
}
    </tbody>
</table>
